@model Bet.Extensions.Wkhtmltopdf.WorkJob.ViewModels.InvoiceModel
@{
    Layout = "./Views/Shared/_Layout.cshtml";
}

<table cellpadding="0" cellspacing="0">
        <tr class="top">
          <td colspan="2">
            <table>
              <tr>
                <td class="title">
                  <img
                    src="https://github.com/kdcllc/Bet.Extensions.Wkhtmltopdf/raw/master/img/icon.png"
                    style="width: 50%; max-width: 300px"
                  />
                </td>

                <td>
                  Invoice #: @Model.InvoiceId<br />
                  Created: @Model.CreatedAt.ToString("MMMM dd, yyyy")<br />
                  Due: @Model.DueAt.ToString("MMMM dd, yyyy")
                </td>
              </tr>
            </table>
          </td>
        </tr>

        <tr class="information">
          <td colspan="2">
            <table>
              <tr>
                <td>
                @if (!string.IsNullOrEmpty(Model.From.CompanyName))
                {
                            @Model.From.CompanyName <br />
                }
                 @Model.From.FullName<br />
                  12345 Sunny Road<br />
                  Sunnyville, CA 12345
                </td>

                <td>
                  Acme Corp.<br />
                  John Doe<br />
                  john@example.com
                </td>
              </tr>
            </table>
          </td>
        </tr>

        <tr class="heading">
          <td>Payment Method</td>
          <td>Description</td>
          <td>Check #</td>
        </tr>

        <tr class="details">
          <td>Check</td>
          <td>PAID</td>

          <td>1000</td>
        </tr>

        <tr class="heading">
          <td>Item</td>
          <td></td>
          <td>Price</td>
        </tr>

        <tr class="item">
          <td>Website design</td>
          <td>Custom design of AspNetCore application with react</td>

          <td>$300.00</td>
        </tr>

        <tr class="item">
          <td>Hosting (3 months)</td>
          <td>Azure Hosting</td>

          <td>$75.00</td>
        </tr>

        <tr class="item last">
          <td>Domain name (1 year)</td>
          <td>Registration of the domain</td>

          <td>$10.00</td>
        </tr>

        <tr class="total">
          <td></td>
          <td>Total:</td>
          <td>$385.00</td>
        </tr>
      </table>
